body{
  margin-bottom: 0 !important;
  main#primary {
    margin-top: 90px;
  }
}
.fadeTop-effect {
  opacity: 0; 
  transform: translate(0, 10vh);
  transition: all 1s;
}

.visible-effect {
  opacity: 1;
  transform: translate(0, 0);
}