body {
  margin-bottom: 0 !important;
  main#primary {
    margin-top: 90px;
  }
}

.fadeTop-effect {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.visible-effect {
  opacity: 1;
  transform: translate(0, 0);
}

.cmplz-cookiebanner .cmplz-links.cmplz-information {
  display: none;
}
div#cmplz-message-1-optin,
a.cmplz-link.privacy-statement,
button.cmplz-btn.cmplz-accept,
button.cmplz-btn.cmplz-deny,
button.cmplz-btn.cmplz-view-preferences,
a.cmplz-link.cookie-statement {
  font-family: "Inter";
}
.cmplz-cookiebanner.banner-1.optin.cmplz-bottom-right.cmplz-categories-type-view-preferences.cmplz-show {
  line-height: 1.8;
}
/*cookie page*/
#cmplz-document h2 {
  font-family: "inter";
  color: black;
  font-weight: 600;
}

#cmplz-document h2,
#cmplz-document h3 {
  font-size: 22px;
  text-align: left;
  margin-top: 15px;
  text-transform: initial;
  padding-bottom: 10px;
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 10px;
}
aside#secondary {
  display: none;
}
article#post-176 {
  max-width: 585px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.cmplz-document footer#colophon {
  display: none;
}
/*comment sectios*/
section.directo-comments {
  .taller-comments-form{
    input{
      &.error{
        border: solid red 1px;
      }
    }
  }
}

#post-176 h1.entry-title {
  display: none;
}
.police-button a.wp-block-button__link {
  background-color: #0286ad;
  font-family: "Roboto";
  border-radius: 3px;
  font-size: 15px;
  padding: 12px 24px;
  line-height: 1;
  font-weight: 500;
}
#post-176 .wp-container-1.wp-block-buttons {
  justify-content: center;
}
article#post-176 {
  margin-bottom: 0;
}
@media screen and (max-width: 750px) {
  header#masthead .container .site-branding a img {
    max-width: 336px;
    width: 80%;
  }
}
@media screen and (max-width: 750px) {
  header#masthead .container .site-branding {
    text-align: right;
  }
}
@media screen and (min-width: 1024px) {
  footer#colophon .seccion1 .seccion1a .logo-footer a img {
    max-width: 341px;
  }
}
@media screen and (max-width: 768px) {
  footer#colophon .seccion1 .seccion1a .logo-footer a img {
    width: 62%;
  }
}
@media screen and (max-width: 768px) {
  footer#colophon .seccion1 .logo-escuela img,
  footer#colophon .seccion1 .logo-talleres img{
    width: 50%;
    max-width: 240px;
  }
}
@media screen and (min-width: 1024px) {
  footer#colophon .seccion1 .logo-escuela img,
  footer#colophon .seccion1 .logo-talleres img{
    max-width: 275px;
  }
}
