footer#colophon {
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 5px;
  .seccion1{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    margin-bottom: 40px;
    .seccion1a{
      .logo-footer{
        text-align: center;
        a{
          img{
            width: 60%;
            margin-bottom: 25px;
          }
        }
      }
      .direccion{
        p{
          font-family: "Roboto", Sans-serif;
          font-weight: 400;
          text-align: center;
          color: #7a7a7a;
          font-size: 13px;
        }
      }
    }
  }
  .site-info{
    .creditos{
      p{
        font-family: "Roboto", Sans-serif;
        font-size: 10px;
        font-weight: 300;
        text-align: center;
        color: #7a7a7a;
      }
    }
    .politicas{
      .slides{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding-left: 0;
        margin-left: 0;
        li{
          a{
            color: #16181a;
            font-family: "Roboto", Sans-serif;
            font-size: 9px;
            font-weight: 300;
            text-decoration: none;
            margin: 10px;
            &:hover{
              color: rgb(121,99,224);
            }
          }
        }
      }
    }
  }
}