header#masthead{
  background-color: transparent;
  background-image: linear-gradient(90deg, #D1DBE9 0%, #FFFFFF 71%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  .container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    .site-branding {
      text-align: center;
      p.site-description, p.site-title{
        display: none;
      }
      a{
        img{
          width: 65%;
        }
      }
    }
    nav#site-navigation {
      ul#primary-menu {
        li{
          a{
            color: #025974;
            fill: #025974;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 35px;
            padding-bottom: 35px;
            font-family: "Varela Round", Sans-serif;
            font-size: 15px;
            font-weight: 300;
            &:after{
              content: "";
              bottom: 0;
              left: 0;
              height: 3px;
              background-color: transparent;
              position: absolute;
              width: 100%;
            }
          }
        }
        li.current-menu-item{
          a{
            color: #89A0FF;
            &:after{
              background-color: #89A0FF;
            }
          }
        }
      }
    }
  }
}