header#masthead{
  background-color: transparent;
  background-image: linear-gradient(90deg, #D1DBE9 0%, #FFFFFF 71%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  .container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 90px;
    @media screen and (max-width: 1024px) { 
      max-width: 100%;
      position: relative;
    }
    .site-branding {
      text-align: right;
      width: 100%;
      @media screen and (max-width: 1024px) { 
        text-align: center;
      }
      p.site-description, p.site-title{
        display: none;
      }
      a{
        img{
          width: 100%;
          max-width: 270px;
          @media screen and (max-width: 1024px) { 
            max-width: 475px;
          }
        }
      }
    }
    nav#site-navigation {
      ul#primary-menu {
        li{
          a{
            color: #025974;
            fill: #025974;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 35px;
            padding-bottom: 35px;
            margin: 0 10px;
            font-family: "Varela Round", Sans-serif;
            font-size: 15px;
            font-weight: 300;
            &:after{
              content: "";
              bottom: 10px;
              left: 10px;
              height: 3px;
              background-color: transparent;
              position: absolute;
              width: calc(100% - 20px);
              transition: .3s;
              transition-timing-function: cubic-bezier(.58,.3,.005,1);
            }
            @media screen and (max-width: 1024px) {
              font-size: 16px;
              font-family: "Montserrat", Sans-serif;
              font-weight: 300;
              padding: 23px 0;
            }
          }
          &:hover{            
            a{
              &:after{
                @media screen and (min-width: 1025px) {
                  bottom: 0;
                  background-color: #285AB7;
                }
              }
            }
          }
          &.current-menu-item{
            a{
              color: #89A0FF;
              &:after{
                @media screen and (min-width: 1025px) {
                  bottom: 0;
                  background-color: #89A0FF;
                }
              }
            }
          }
          @media screen and (max-width: 1024px) {
            background-color: #fff;
            text-align: center;
          } 
          &:not(:last-child) {
            @media screen and (max-width: 1024px) { 
              border-bottom: solid 1px #efefef;
            }        
          }          
        }
        @media screen and (max-width: 1024px) { 
          top: 59px;
          position: absolute;
          width: 100%;
        }
      }
      .navbar-toggler {
        i {
          color: #0286AD;
          font-size: 28px;
          font-weight: 600;
          margin-left: 10px;
        }
        &:focus{
          box-shadow: none;
          border: 0;
        }
      }
      @media screen and (max-width: 1024px) { 
        position: absolute;
        left: 0;
      }
    }
    .animated-icon2 {
      width: 30px;
      height: 20px;
      position: relative;
      margin: 0px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        background: #97AAF4;
        &:nth-child(1) {
          top: 0px;
        }
        &:nth-child(2), &:nth-child(3) {
          top: 10px;
        }
        &:nth-child(4) {
          top: 20px;
        }
      }
      &.open {
        span {
          &:nth-child(1) {
            top: 11px;
            width: 0%;
            left: 50%;
          }
          &:nth-child(2) {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }
          &:nth-child(3) {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          &:nth-child(4) {
            top: 11px;
            width: 0%;
            left: 50%;
          }
        }
      }
    }   
  }
}