.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

#page{
	.entry-header-talleres{
		min-height:250px;
		background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	    color:#fff;
	    font-family: 'Inter', sans-serif;	    
	    display: flex;
    	align-items: center;
	    div{
	    	max-width:$max__width;
	    	padding: 0 30px;	    	
	    	@media (max-width: 767px){
	    		padding: 0 17px;
	    	}
	    	h1,h2{
	    		font-weight: 500;
	    		font-size:49px;
	    		margin-top: 0;
    			margin-bottom: 20px;
	    	}
	    	p{
	    		font-weight: 400;
	    		font-size:16px;
	    		margin-bottom: 0;
	    	}
	    }
	}
	.talleres_descripcion{
		max-width:$max__width;
		padding: 50px 10px 0 10px;
		font-family: 'Roboto', sans-serif;
		h2,h3,h4,h5{			
			font-size:29px;
			font-weight: 300;
		}
		p{
			margin:0;
			font-size:16px;
		}
	}
	.talleres-posts{
		max-width:$max__width;
		padding: 50px 0;
		font-family: 'Inter', sans-serif;		
		.taller-post-item{
			width:33%;
			padding:10px;			
    		article{
    		 	border-radius: 8px 8px 8px 8px;
    			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    			min-height: 480px;
    			a{
    				text-decoration: none;
    				color: $color__link-ancla;
    				&:hover{
    					text-decoration: none;
    				}
    				.post-thumbnail{    					
    					img{
    						border-top-left-radius: 8px;
    						border-top-right-radius: 8px;
    						min-height:200px;
    						object-fit: cover;
    						object-position: center;
    						transition: transform .2s;
    						&:hover{
    							transform: scale(1.05);
    						}
    					}
    				}
    				.make-zoom{
    					position: absolute;
					    top: -9999em;
					    left: -9999em;
    				}				
    			}
    			.taller-article-content{
    				padding: 28px;
    				font-size: 16px;
    					text-decoration: none;
    					color: $color__link-ancla;
    					&:hover{
	    					text-decoration: none;
	    				}
	    				h3,h2,div,span{
	    					margin-bottom: 15px;
	    					font-weight: 600;
	    				}
	    				h3,h2{
	    					font-size: 16px;
	    					font-weight: 700;
	    				}
	    				div{
	    					font-weight: 400;
	    				}
	    				span{
	    					padding: 12px 24px;
	    					color: #0286AD;
    						border: 2px solid #0286AD;
    						border-radius: 3px;
	    				}
    				
    			}
    		}
		}
	}
	.taller-single-post{
		padding: 20px;
		padding-bottom: 50px;
		@media (max-width:768px){
			padding-bottom: 20px;
			&:first-child{
				padding-top:30px;
			}			
		}
		&:first-child{
			@media (max-width:768px){
				padding-top:50px;
			}
		}
		article{
			max-width:$max__width;
			background-color: #fff;
			padding: 20px;
			border-radius: 8px 8px 8px 8px;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
			font-family: 'Inter', sans-serif;			
			@media (max-width:768px){
				margin-left:11px !important;
				margin-right:11px !important;
				width: 100% !important;
			    margin-left: auto !important;
			    margin-right: auto !important;
			}
			.post-thumbnail{
				img{
					border-top-left-radius: 8px;
				    border-top-right-radius: 8px;
				    min-height: 200px;
				    object-fit: cover;
				    object-position: center;
				    width: 100%;
	    			max-height: 150px
				}
			}			
			h3,h2,h4,h5,h6{
				padding: 30px;
				margin: 0;
				color: $color__link-ancla;
				font-size:20px;
				font-weight: 700;
			}
			.single-taller-description{
				padding-bottom: 30px;
				color: $color__link-ancla;
				font-size:20px;
				font-weight: 400;
			}
			.single-taller-especialista{
				margin-bottom: 20px;
				img{
					object-fit: cover;
				    object-position: center;
				    width: 71px;
	    			height: 71px
				}
				.nombre-especialidad{
					flex-wrap: wrap;
					padding-left:15px;					
					span{
						color: #54595f;
						font-size: 14px;
						align-items: flex-start;
						font-weight: 400;
						font-family: 'Roboto Slab', serif;
						font-size: 14px;
					}
					span:first-child{
						color: #0286AD;
						font-size: 22px;
						font-weight: 700;
						align-items: flex-end;
						font-family: 'Roboto', sans-serif;
						font-size:22px;
					}
				}
			}
			.title-taller-description{
				color: #0286AD;
				padding: 15px 20px;
				font-size: 16px;
				display:flex;
				font-weight: 700;
			    border: solid 1px #88888836;			    
			    cursor: pointer;
			    font-family: 'Roboto', sans-serif;
			    div{
			    	margin-left:10px
			    }
			}
			.content-taller-description{
				color: #7a7a7a;
				font-size: 15px;
				font-weight: 300;
				font-family: 'Inter', sans-serif;
				opacity:0;
				transition: visibility 0.5s linear, opacity 500ms linear;
				border: solid 1px #88888836;
				border-top:none;
    			padding: 10px 25px;  			
    			/*display:none;*/
			}
			.opacidad1{
				opacity:1;
			}
			.cerrado{
				color: #89A0FF;
			}
			.video-diapo{
				margin-top:20px;
				font-size: 16px;
				font-family: 'Inter', sans-serif;
				/*flex-wrap: wrap;*/
				@media (max-width: 690px){
				    width: 100% !important;
				    display: block !important;
				}				
				div{
					background-color: #EDEDED;
				    color: #012D3A;
				    border-radius: 6px 6px 6px 6px;
				    padding: 16px 24px;
				    margin:15px;
				    &:hover{
				    	background-color: #29CBFC;
    					color: #FFFFFF;
    					cursor:pointer;
				    }
				    @media (max-width: 690px){
				    	width: 100% !important;
				    	margin-left: 0;
    					margin-right: 0;
				    }
				    a{
				    	color: #012D3A;
				    	text-decoration:none;				    	
				    	&:hover{
				    		text-decoration:none;
				    	}
				    }
				}
				.active{
					background-color: #0286AD;
					position: relative;
    				color: #fff;
    				&:hover{
    					background-color: #0286AD;
    					color: #fff;
    				}
    				&:after{
    					content: "";
						position: absolute;
						bottom: -9px;
						left: 50%;
						margin-left: -9px;
						width: 18px;
						height: 18px;
						background-color: #0286AD;
						transform: rotate(45deg);
    				}
    				a{
    					color: #fff;
    				}
				}
			}
			.presentation-container{
				min-height: 400px;
				width:100%;
				position:relative;
				display:block;
				.t-video, .t-presentation{
					min-height: 400px;
					width:100%;
					position:relative;
					display:block;
					.t-video iframe, .t-presentation iframe{
						width: 100%;
						height:400px;
						margin:auto;
						position: relative;
						display:block;
					}
				}				
			}
			
		}
	}	
}
